{% extends "index.html" %}
{% block title %}Add Milestone{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block htmlcontent %}
    {% raw %}
    <div class="page-header">
        <h1>Add Milestone
            <small>Memories to cherish</small>
        </h1>
    </div>
    <div ng-controller="addMilestoneController">
        <div class="alert" ng-class="alert.class" role="alert">{{ alert.msg }}</div>
        <form id="addMilestoneForm">
            <div class="form-group">
                <label for="milestone">Milestone</label>
                <input type="text" class="form-control" id="milestone" ng-model="milestone" autofocus autocomplete="off"
                       placeholder="Milestone">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" ng-model="type">
                    <option value="start">Start</option>
                    <option value="end">End</option>
                </select>
            </div>
            <fieldset class="form-inline" style="margin-bottom: 15px;">
                <legend>When did it happen?</legend>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="number" id="date" maxlength="2" min="1" max="31" ng-model="date" class="form-control"
                           placeholder="Day on which event has happened">
                </div>
                <div class="form-group">
                    <label for="month">Month</label>
                    <input type="number" id="month" maxlength="2" min="1" max="12" ng-model="month" class="form-control"
                           placeholder="Month in which event has happened">
                </div>
                <div class="form-group" style="margin-right: 5px;">
                    <label for="year">Year</label>
                    <input type="number" maxlength="4" id="month" min="1990" ng-model="year" class="form-control"
                           placeholder="Year in which event has happened">
                </div>
                <div class="form-group">
                    <label for="hour">Hour</label>
                    <input type="number" id="hour" maxlength="2" min="0" max="24" ng-model="hour" class="form-control"
                           placeholder="Hour at which event has happened">
                </div>
                <div class="form-group">
                    <label for="minutes">Minutes</label>
                    <input type="number" id="minutes" maxlength="2" min="0" max="59" ng-model="minute"
                           class="form-control"
                           placeholder="Minute at which event has happened">
                </div>
            </fieldset>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" ng-model="tags" placeholder="Tags (comma separated)">
            </div>
            <div class="form-group">
                <label for="link">URL</label>
                <input type="url" class="form-control" id="link" ng-model="link"
                       placeholder="Link for those memorable moments - pictures, videos etc">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" ng-model="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-default" ng-click="formSubmitClick($event)">Submit</button>
        </form>
    </div>
    {% endraw %}
{% endblock %}
{% block jscontent %}
    <script type="text/javascript">
        (function () {
            let logger = new Logger();
            app.controller('addMilestoneController', function addMileStoneController($scope, $http) {
                $scope.alert = {
                    "class": 'alert-info',
                    "msg": 'Welcome'
                };

                let d = new Date();
                $scope.year = d.getFullYear();
                $scope.month = d.getMonth() + 1;
                $scope.date = d.getDate();

                $scope.formSubmitClick = function formSubmitClick(e) {
                    e.preventDefault(); // prevent form submit

                    setAlertMessage("Preserving a memory...", "info");

                    let url = '/milestone';
                    let data = {
                        "milestone": $scope.milestone,
                        "type": $scope.type,
                        "date": new Date($scope.year, $scope.month - 1, $scope.date),
                        "time": `${$scope.hour}:${$scope.minute}` ? $scope.hour && $scope.minute : null,
                        "tags": $scope.tags,
                        "link": $scope.link,
                        "description": $scope.description
                    };
                    $http.post(url, data).then(function success(resp) {
                        logger.info(resp);
                        document.getElementById("addMilestoneForm").reset();
                        setAlertMessage(resp['data']['message'], 'success');
                    }, function failure(resp) {
                        setAlertMessage(resp['data']['message'], 'danger');
                        logger.error(resp);
                    });
                };

                function setAlertMessage(message, type='info') {
                    let cssClass = 'alert-info';
                    switch (type) {
                        case 'danger':
                            cssClass = 'alert-danger';
                            break;
                        case 'success':
                            cssClass = 'alert-success';
                            break;
                        case 'info':
                            break;
                    }
                    $scope.alert.class = cssClass;
                    $scope.alert.msg = message;
                }
            });
        })();
    </script>
{% endblock %}